.editContactContainer {
  margin: auto;
  width: 500px;
  height: auto;
  display: flex;
  justify-self: center;
  align-items: center;
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  margin-top: -100px;
  flex-direction: column;

  button {
    align-self: flex-start;
    background-color: var(--main);
    padding: 15px;
    width: 40px;
    height: 40px;
    margin: 0px 0px 10px 5px;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;

    &:hover {
      transform: rotate(360deg);
      opacity: 0.9;
    }
  }

  .textDanger {
    color: var(--main);
    font-weight: bold;
    padding: 5px 10px;
  }

  form {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    input {
      margin: 5px;
      border: none;
      background-color: var(--background);
      padding: 15px;
      border-radius: 5px;
      font-size: 1rem;
      color: var(--main);

      &::placeholder {
        color: var(--placeholder);
      }
    }

    input[type="submit"] {
      background-color: var(--main);
      color: #fff;
      font-size: 1.25rem;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      &:focus {
        outline: 2px solid var(--main) !important;
      }
    }
  }
}

@media screen and(max-width: 650px) {
  .editContactContainer {
    width: 90%;
    margin-top: -350px;
  }
}
