.boxes {
  width: 1120px;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: -120px;

  svg {
    color: var(--main);
  }

  .link {
    cursor: pointer;

    &:hover {
      background-color: var(--box-hover);
      border-bottom: 1px solid var(--main);
      transition: 0.5s;
    }
  }

  .linkNew {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

    a {
      height: 60px;
      width: 90%;
      color: #fff;
      background-color: var(--main);
      border-radius: 5px;
      cursor: pointer;

      section {
        display: flex;
        justify-content: space-between;
      }

      svg {
        color: #fff;
      }

      &:hover {
        opacity: 0.9;
      }

      h2 {
        font-size: 1rem;
        color: #fff;
      }
    }
  }

  div {
    width: 300px;
    height: 150px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      color: var(--main);
      text-transform: uppercase;
    }

    span {
      text-align: center;
      font-size: 2rem;
    }

    section {
      display: flex;
      align-items: center;
      justify-content: space-between;
      justify-self: space-between;
      padding: 20px 40px;
    }
  }
}

@media screen and(max-width:1200px) {
  .boxes {
    width: 800px;

    div {
      min-width: 220px;
      width: 220px;
      height: 150px;
      background-color: #fff;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      section {
        max-height: 100%;
      }

      a {
        overflow: hidden;
      }

      h2 {
        font-size: 1rem;
      }

      span {
        font-size: 1.5rem;
      }
    }
  }
}

@media screen and(max-width:800px) {
  .boxes {
    width: 90%;
    max-width: 90%;

    div {
      height: 150px;
      align-items: center;

      h2 {
        font-size: 0.8rem;
      }

      svg {
        display: none;
        font-size: 1.5rem;
      }
    }
  }

  .linkNew {
    section {
      display: flex;
      justify-content: center !important;
      text-align: center;

      h2 {
        font-size: 0.8rem !important;
        color: #fff;
        justify-self: center;
      }
    }
  }
}

@media screen and(max-width:650px) {
  .boxes {
    margin-top: -400px;
    width: 100%;
    flex-direction: column;
    width: 90%;
    max-width: 90%;

    .linkNew:nth-of-type(1) {
      margin-top: 10px;
    }
    .link:nth-of-type(1) {
      margin-top: 10px;
    }

    div {
      min-width: 100%;
      max-width: 30%;
      height: 150px;
      align-items: center;
      margin-top: auto;

      section {
        h2 {
          font-size: 1rem !important;
        }

        display: flex;
        gap: 10px;
      }

      svg {
        display: block;
      }
    }
  }

  .linkNew {
    section {
      display: flex;
      justify-content: space-between !important;

      h2 {
        font-size: 0.8rem !important;
        color: #fff;
        justify-self: space-between;
      }
    }
  }
}
