:root {
  --main: #e10f27;
  --main-darker: #c90d23;
  --box-hover: #ffeeee;
  --background: #fae9ea;
  --placeholder: rgb(153, 153, 153);
  --table-line: #ffb9c2;
  --input: #ffffff;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
